<h1>Deck</h1>
<h1>Session: <%= @token %></h1>


<%= javascript_include_tag "deck" %>
<%= stylesheet_link_tag "deck", :media => 'screen' %>

<%= link_to "New Deck", root_path, html_options = {class: "btn"} %>

<% unless @out_of_hands %>
  <%= link_to "New Hand", new_hands_path(@token), html_options = {class: "btn"} %>
  <% if @winner_hand == 0%>
    <p>Is a Tie with <%= @winner_hand_name %>!!</p>
  <% else %>
    <p>Winner Hand <%= @winner_hand %>!! with <%= @winner_hand_name %></p>
  <% end %>

  <div class="hands">
    <h2>Mano 1</h2>
    <div class="hand grow ">
      <% @hand_one.each do |f| %>
        <div class="card suit<%=  f["suit"] %>">
          <p><%= f["number"]%></p>
        </div>  
      <% end %>
    </div>
    <h2>Mano 2</h2>
    <div class="hand grow ">
      <% @hand_two.each do |f| %>
        <div class="card suit<%=  f["suit"] %>">
          <p><%= f["number"]%></p>
        </div>  
      <% end %>
    </div>
  </div>

<% else %>
  <%= @out_of_hands %>
<% end %>

