<h1>Deck</h1>
<h1>Session: <%= @token %></h1>


<%= javascript_include_tag "deck" %>
<%= stylesheet_link_tag "deck", :media => 'screen' %>


<div class="hand grow ">
  <% @hand_one.each do |f| %>
    <div class="card suit<%=  f["suit"] %>">
      <p><%= f["number"]%></p>
    </div>  
  <% end %>
</div>

<div class="hand grow ">
  <% @hand_two.each do |f| %>
    <div class="card suit<%=  f["suit"] %>">
      <p><%= f["number"]%></p>
    </div>  
  <% end %>
</div>